name: release

on:
  push:
    tags:
      - "*"

defaults:
  run:
    working-directory: ./v2

permissions:
  contents: write
  pull-requests: write

jobs:
  goreleaser:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            goreleaser.com:443
            objects.githubusercontent.com:443
            proxy.golang.org:443
            storage.googleapis.com:443
            uploads.github.com:443
            sum.golang.org:443
            *.actions.githubusercontent.com:443
            go.dev:443
            golang.org:443

      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32
        with:
          go-version: 1.21
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@286f3b13b1b49da4ac219696163fb8c1c93e1200 # v6.0.0
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean --config ../.goreleaser.yaml
          workdir: ./v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
