name: release

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

defaults:
  run:
    working-directory: ./v2

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Run GoReleaser
        timeout-minutes: 60
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist --config ../.goreleaser.yaml
          workdir: ./v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
