name: release

on:
  push:
    tags:
      - "*"

defaults:
  run:
    working-directory: ./v2

permissions:
  contents: read
  pull-requests: read

jobs:
  goreleaser:
    timeout-minutes: 120
    runs-on:
      group: Large Runner Shared Public
      labels: ubuntu-4-core-latest
    permissions:
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            goreleaser.com:443
            objects.githubusercontent.com:443
            proxy.golang.org:443
            storage.googleapis.com:443
            uploads.github.com:443
            github.com:443
            release-assets.githubusercontent.com:443
            sum.golang.org:443
            *.actions.githubusercontent.com:443
            go.dev:443
            dl.google.com:443
            golang.org:443
      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/stratus-red-team
          policy: self.release.create-pr.sts.yml
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: 1.23
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@9ed2f89a662bf1735a48bc8557fd212fa902bebf # v6.1.0
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean --config ../.goreleaser.yaml --timeout 600m0s --verbose --parallelism 1
          workdir: ./v2
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
