name: release

on:
  push:
    tags:
      - "*"

defaults:
  run:
    working-directory: ./v2

permissions:
  contents: read

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@1b05615854632b887b69ae1be8cbefe72d3ae423
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            goreleaser.com:443
            objects.githubusercontent.com:443
            proxy.golang.org:443
            storage.googleapis.com:443
            uploads.github.com:443
            sum.golang.org:443
            *.actions.githubusercontent.com:443
            go.dev:443
            golang.org:443

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe
        with:
          go-version: 1.18
      - name: Run GoReleaser
        timeout-minutes: 60
        uses: goreleaser/goreleaser-action@44dd9927f499a126e26ae024981569ce889f15aa # v5.0.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --config ../.goreleaser.yaml
          workdir: ./v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
