name: release

on:
  push:
    tags:
      - "*"

defaults:
  run:
    working-directory: ./v2

permissions:
  contents: write
  pull-requests: write

jobs:
  goreleaser:
    timeout-minutes: 60
    runs-on:
      group: Large Runner Shared Public
      labels: ubuntu-16-core-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            goreleaser.com:443
            objects.githubusercontent.com:443
            proxy.golang.org:443
            storage.googleapis.com:443
            uploads.github.com:443
            sum.golang.org:443
            *.actions.githubusercontent.com:443
            go.dev:443
            golang.org:443

      - name: Checkout
        uses: actions/checkout@9044bc00e6f073ee8d65952bbe1110909cfd1562
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed
        with:
          go-version: 1.21
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@9ed2f89a662bf1735a48bc8557fd212fa902bebf # v6.1.0
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean --config ../.goreleaser.yaml --timeout 600m0s
          workdir: ./v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
