name: "go static analysis"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  static-analysis:
    name: "Run Go static analysis"
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            proxy.golang.org:443
            storage.googleapis.com:443
            sum.golang.org:443
            golang.org:443
            *.actions.githubusercontent.com:443
            objects.githubusercontent.com:443
            go.dev:443
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753
        with:
          go-version: 1.18
      - uses: dominikh/staticcheck-action@ba605356b4b29a60e87ab9404b712f3461e566dc
        with:
          version: "2022.1"
          install-go: false
          working-directory: "./v2"
