name: "go static analysis"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  static-analysis:
    name: "Run Go static analysis"
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            proxy.golang.org:443
            storage.googleapis.com:443
            sum.golang.org:443
            golang.org:443
            sum.golang.org:443
            *.actions.githubusercontent.com:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            go.dev:443
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 1
      - uses: dominikh/staticcheck-action@fe1dd0c3658873b46f8c9bb3291096a617310ca6
        with:
          install-go: true
          working-directory: "./v2"
