name: "go static analysis"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  static-analysis:
    name: "Run Go static analysis"
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            proxy.golang.org:443
            storage.googleapis.com:443
            sum.golang.org:443
            golang.org:443
            sum.golang.org:443
            *.actions.githubusercontent.com:443
            objects.githubusercontent.com:443
            go.dev:443
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
        with:
          fetch-depth: 1
      - uses: dominikh/staticcheck-action@fe1dd0c3658873b46f8c9bb3291096a617310ca6
        with:
          install-go: true
          working-directory: "./v2"
