name: "terraform lint"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    name: "Terraform lint"
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c8454efe5d0bdefd25384362fe217428ca277d57 # tag:v2.2.0
        with:
          egress-policy: audit

      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # tag:v2.5.0
        with:
          fetch-depth: 1

      - uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1 # tag:v2
      
      - name: Lint Terraform
        run: terraform fmt -recursive -check
        working-directory: v2/internal/attacktechniques
        
